<div class="row">
  <div class="col">
    <div class="center-block" *ngIf="!orderSubmitted">
      <h1>Place your order</h1>
      <br>
      <form [formGroup]="userInfoFormGroup" novalidate>
        <div class="forum-group" [ngClass]="displayFieldCss('name')">
          <label for="name" class="control-label required">Name</label>
          <input id="name" class="form-control" formControlName="name">
          <app-field-error-display
            [displayError]="isFieldValid('name')"
            errorMsg="Please inform your name">
          </app-field-error-display>
        </div>

        <div class="forum-group" [ngClass]="displayFieldCss('address')">
          <label for="adress" class="control-label required">Address</label>
          <input id="adress" class="form-control" formControlName="address">
          <app-field-error-display
            [displayError]="isFieldValid('name')"
            errorMsg="Please inform your name">
          </app-field-error-display>
        </div>

      </form>
      <button (click)="backToCheckout()">Back to checkout</button>
      <button (click)="onSubmit()">Order</button>
      <p>{{userInfoFormGroup.value | json}}</p>
      <p>{{userInfoFormGroup.status | json}}</p>
    </div>
    <div *ngIf="orderSubmitted">
      <label>Your order has been processed. Thank you for using our service</label>
    </div>
  </div>
</div>
