<div class="row">
  <div class="col">
    <div>
    <form [formGroup]="form">
      <h1>Add item</h1>
      <div>
        <label for="name">Name:</label>
        <input type="text" formControlName="username" id="name">
      </div>
      <div>
        <label for="desc">Description:</label>
        <input type="text" formControlName="description" id="desc">
      </div>
      <div>
        <label for="prc">Price:</label>
        <input type="number" formControlName="price" id="prc">
      </div>
      <div>
        <label for="cat">Category:</label>
        <input type="text" formControlName="category" id="cat">
      </div>
    </form>
    <button (click)="addItem(form.value)">Add</button>
    </div>
    <div *ngFor="let loadedItem of items | async">
    <app-item-detail [item]="loadedItem"></app-item-detail>
    </div>
  </div>

</div>
