<div class="topBasket">
  <label>Basket: {{ orderedItemCount | async}} products, {{sumPrice | async | currency }}</label>
  <button class="checkoutButton" (click)="checkOut()">Checkout</button>
</div>

